body {
  background-color: yellow;
}

.container-content {
  flex-shrink: 0;
  position: relative;
  margin-top: 140px;
}
.container {
  max-width: 1100px;
}
.card {
  width: 325px;
  height: 385px;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  position: relative; /* Ensure absolute elements are positioned relative to the card */
}

.title-cards {
  color: #000;
  font-family: "Cardenio Modern";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.8px;
  margin: 0;
  margin-top: 50px;
}

.price {
  margin-top: 10px;
  display: block;
  color: #000;
  margin-bottom: 10px;

  text-align: center;
}

.price p {
  display: inline;
  font-size: 32px;
}

.price span {
  color: #000;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card button {
  width: 143px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #f7923a;
}

.card button span {
  color: #b11e3f;
  font-family: "Cardenio Modern";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.4px;
}

.img img {
  width: 217.237px;
  height: 217.237px;
  position: absolute;
  top: 48px;
  left: -20px;
}
.img {
  position: absolute;
  top: -150px;
  left: 73px;
}
.img svg {
  width: 47%;
}

.img .gummy {
  position: absolute;
  top: 230px;
  left: 22px;
  width: 181.73px;
  height: 81.464px;
}
.img .yummy {
  position: absolute;
  top: 4px;
  left: -14px;
  width: 179.652px;
  height: 66.956px;
}
.img .right {
  width: 62.507px;
  height: 196.583px;
  flex-shrink: 0;
}
.img .left {
  width: 64.774px;
  height: 205.914px;
  flex-shrink: 0;
}

.right {
  position: absolute;
  top: 38px;
  left: 165px;
}
.left {
  position: absolute;
  top: 66px;
  left: -41px;
}

.test {
  /* coulumn */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    width: 500px;
  }
  .card {
    width: 100%;
    height: 100%;

    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .img {
    left: -2px;
    width: 100%;
    position: absolute;
    top: -158px;
  }
  .img img {
    position: relative;
    width: 70%;
    left: 0px;
    top: -97px;
    height: 155px !important;
  }
  .img .yummy {
    position: relative;
    top: 63px;
    left: -8px;
    height: 48.428px;
  }

  .img .gummy {
    position: relative;
    top: -127px;
    left: 15px;
    height: 59.32px;
  }
  .right {
    position: relative;
    left: 116px;
    top: 36px;
    height: 143px !important;
  }
  .left {
    position: relative;
    left: -110px;
    top: 60px;
    height: 140px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}

.row {
  display: flex;

  justify-content: center;
  align-items: center;
}
